.header{
    background-color: #ffffff;
    height: 70px;
    border-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 120px;
    padding-left: 120px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-right: 100px;
    width: auto;
    height: 90%
}
.logo:hover{
    cursor: pointer;
}


.nav-link{
    text-decoration: none;
    font-size: 16px;
    color: black;
    cursor: pointer;
   
    border: black;
    transition: .3s;
}

.nav-link:hover{
    text-decoration: underline;    
}
