.content-section-1{
    display: flex;
    margin-top: 0px;
}
.content-section-2{
    display: flex;
    margin-top: 50px;
    text-align: center;
}

.text-block{
    display: flex;
    flex: 1;
    margin-left: 120px;
    margin-right: 50px;
    justify-content: center;
    flex-direction: column;
}
.text-block-2{
    display: flex;
    flex: 1;
    margin-left: 120px;
    margin-right: 50px;
    justify-content: center;
    flex-direction: column;
    position: absolute;
}

.heading{
    font-size: 40px;
    margin-bottom: 10px;
}

.text{
    width: 400px;
}
.text-2{
    text-align: center;    
}

.image{
    width: 600px;
    text-align: left;
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 50px;
}
.background-image{
    opacity: .15;
}

.button-section{
    display: flex;
    flex-direction: row;
    vertical-align: center;
}
.contact-button{
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: none;
    transition: opacity .3s;
    height: 70px;
    margin-right: 10px;
}

.contact-button:hover{
    opacity: 0.8;
}

.footer{
    display: flex;
    background-color: #3e3e3e;
    padding-bottom: 50px;
    padding-left: 120px;
    padding-top: 30px;
    justify-content: space-evenly;
    vertical-align: center;
}

.search-bar{
    height: 40px;
    background-color: transparent;
    border-color: white;
    border-style: solid;
}
.search-bar:hover{
    opacity: 0.8;
}

.footer-section-1{
    flex: 1;
    color: white;
}
.footer-section-2{
    flex: 2;
    color: white;
}

.footer-heading{
    margin-bottom: 0;
}
