body{
    background-color: #14213d;
    margin: 0;
    padding: 0;
    border:none
}



.home-text{
    margin-left: 75px;
    margin-top: 100px;
    color: #e5e5e5;
}

.footer{
    background-color: #acacac;
    padding-bottom: 50px;
}
